*{
    font-family: Helvetica, sans-serif, Arial;
}

.icon-nav-dsch{
    border: solid 1px #ffffff !important;
}

.icon-nav-dsch:hover{
    background: white;
}

.m-dsch{
    padding-top: 3%;
    padding-bottom: 3%;
}

.bg-dsch{
    background: #000000;
}

.btn-dsch{
    height: 40px;
    border: solid 2px #333;
    background: white;
    color: #333;
    border-radius: 10px;
}

.btn-dsch:hover{
    background: #333;
    color: #ffffff;
}

.subtitle-dsch{
    font-size: 36px;
    margin-left: 3%;
    padding-bottom: 3%;
    border-bottom: solid 1px #DBD6CF ;
    box-shadow: 0 1px;
    color: #333;
}

.text-dsch-input{
    font-size: 20px;
    font-weight: 550;
    color: #333;
}

.group-dsch{
    margin-bottom: 5%;
}

input.form-control:focus{
    outline: none;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #333;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');


html{
  font-size: 100%;
}

#loginform{
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   box-shadow: inset 0px -3px 0px 0px rgba(202, 124, 7, 0.7);
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgb(223, 167, 13) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}

#facebookIcon{
  background-image:      url("https://image.flaticon.com/icons/svg/145/145802.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#twitterIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145812.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#googleIcon{
  background-image: url("https://image.flaticon.com/icons/svg/145/145804.svg");
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

#alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
}


.filter-section-dsch{
    width: 90%;
    border-bottom: solid 1px #000000;
    display: inline-flex;
    margin-left: 5%;
}

.filter-section-dsch-form{
    width: 80%;
    display: inline-flex;
    margin-left: 10%;
}

.filter-section-dsch-multi-form{
    width: 100%;
    display: inline-flex;
}

.btn-form-academic:hover{
    float: right;
    background: #000000;
    color: #FFFFFF;
}

.btn-form-academic{
    background: #FFFFFF;
    color: #000000;
    border: solid 1px #000000;
}

.btn-file-academic{
    background: #FFFFFF;
    color: #000000;
    border: solid 1px #000000;
}

.btn-file-academic:hover{
    background: #000000;
    color: #FFFFFF;
}

.section-dsch-form{
    border-bottom: solid 1px rgba(0, 0, 0, 0.2) ;
}

.form-control{
    margin: 1%;
}

.link-dsch:hover{
    outline: solid 1px #FFFFFF;
}

.section-component{

}

#__react-alert__ div div div {
    width: auto !important;
}

.margin-btn-pdf{
    margin-top: 1%;
    margin-bottom: 1%;
}

.dsch-det-card {
    padding-left: 5%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 2%;
}

.card-form-file{
    padding: 1% !important;
    margin-left: 1%;
    margin-bottom: 3%;
}

.message-depend{
    padding: 10%;
    border: solid 1px #DBD6CF;
    border-radius: 5px;
}

.form-check {
    margin-bottom: 20px;
}

.btn-edit-files{
    height: 50px;
}

.question-optional{
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid 1px #DBD6CF;
}

.text-question{
    text-transform: capitalize !important;
}

.section-button{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2% !important;
    border: solid 2px #FFFFFF;
    border-radius: 10px;
}

.view-file-additional{
    margin-bottom: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.form-files-additional{
    padding-top: 3%;
}

.btn-remove-file{
    transform: rotate(-90deg);
    background: transparent;
    border: solid 2px #FFFFFF;
    margin-top: -5px;
    border-radius: 50%;
    font-size: 14px;
    color: #FFFFFF;
    width: 26px;
    height: 26px;
}

.btn-remove-file:hover{
    background: transparent;
    border: solid 2px #dc3545;
    color: #dc3545;
}

.btn-remove-file:active{
    border: solid 2px #dc3545;
    background: #dc3545;
    color: #FFFFFF;
}

.btn-remove-file:focus{
    outline: none; !important;
    text-decoration: none !important;
}

.view-div-personal{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.view-label-personal{
    font-size: 17px !important;
    font-weight: 500;
}

.margin-subtitle{
    margin-top: -15px;
    margin-left: 8%;
    margin-bottom: 15px;
}


.btn-dsch-link{
    border: solid 1px #FFFFFF;
    background: transparent;
    color: #FFFFFF !important;
}

.btn-dsch-link:hover{
    border: solid 1px #FFFFFF;
    background: #FFFFFF;
    color: #000000 !important;
}


.sub-menu-editorial{
    width: 300px !important;
}

.option-editorial{
    cursor: pointer;
}

.option-editorial:hover{
    background: #ffc107 !important;
    color: #212529 !important;
    border-radius: 10px;
}

.b-filter{
    border:  solid 1px #b8daff;
}


.bg-winner{
    background: #F9A48C !important;
}


.title-detail {
    background: #3292EC;
    color: #FFFFFF;
}


.body-detail {
    background: rgba(12, 180, 248, 0.1) ;
}

.table-striped {
    display: block;
}

.table-bordered{
    display: block;
}

.table-scroll {
    display: block;
    height: 25em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */

}

.table-scroll-a {
    display: block;
    height: 21.8em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.table-scroll-presupuestal {
    display: block;
    height: 19em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.table-scroll-modifications-sabbatical {
    display: block;
    height: 17em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.table-scroll-c {
    display: block;
    height: 21em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.section-protocol {
    display: block;
    height: 30em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.options-products {
    display: block;
    height: 9em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.table-scroll-schedule{
    display: block;
    height: 19.75em;       /* Just for the demo          */
    overflow-y: scroll;    /* Trigger vertical scroll    */
}

.list-profile{
    list-style: none;
    margin-left: 0;
}

.img-dcsh{
    width: 8%;
}

.img-logo-investigation {
    background: #212529;
}

a {
    text-decoration: none !important;
}


.options-card, .options-card:hover, .options-card:after {
    margin-left: auto;
    margin-top: -5px !important;
    border-radius: 15px !important;
    outline: none !important;

}

.dropdown-toggle-card{
    padding-top: -5px !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 15px;
    outline: none !important;
    border: 2px solid #DBD6CF;
}

.dropdown-toggle-card:hover{
    border: 2px solid #000000;
}


.dropdown-item:hover{
    background: #FCA136;
    color: #FFFFFF;
}

.bg-form-presupuestal {
    background: #FCA136;
    color: #FFFFFF;
}

.m-form-footer {
    margin-left: -2.1% !important;
    margin-right: -2.1% !important;
    margin-bottom: -2.1% !important;
}